*{
	font-family: "carrier new";
	font-size: 20px;
}

h1{
	font-size: 50px;
}

.a {
	color: orange;
}
.b {
	background-color: skyblue;
}
.c{
	border-style: solid;
	border-color: magenta;
}

img {
	border-radius: 300px;
}

#a1{
	text-transform: uppercase;
}


}

h4 ~ ul{
	letter-spacing: 10px;
}

.d1{
	color: black;
	text-align: center;
}

.e{
	list-style: upper-roman;
	letter-spacing: 15px;
}